<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{Css/reset.css}">
    <link rel="stylesheet" th:href="@{Css/empleado.css}">
    <title>Document</title>
</head>
<body>

    <header  class="contheader" id="contenca">
        <div class="logo">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{empresa}">Empresas</a></li>
                    <li><a th:href="@{empleado}">Empleados</a></li>
                    <li><a th:href="@{movimientos}">Ingresos y Egresos</a></li>
                </ul>   
            </nav> 
        </div>
    </header>
    
    <h1 class="ti1"><strong> Sistema de gestion de empleados</strong></h1>
    <h2 class="ti2"> <strong> Empleados</strong></h2>
            <table>
                <thead> 
                    <tr>
                        <th>Documento</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Rol</th>
                        <th>Nit empresa</th>
                        <th>Fecha de registro</th>
                    </tr>
                    </thead>
                
                <tr th:each="i:${empleado}">
                    <td th:text="${i.documento}"></td>
                    <td th:text="${i.nombres}"></td>
                    <td th:text="${i.apellidos}"></td>
                    <td th:text="${i.correo}"></td>
                    <td th:text="${i.rol}"></td>
                    <td th:text="${i.empresasEmpleados.nitEmpresa}"></td>
                    <td th:text="${i.fechaCreacionEmpleados}"></td>
                </tr>

            </table>
    <a th:href="@{/empleadonuevo}"> <button class="boton">Nuevo Registro</button></a>

</body>
</html>