<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{Css/reset.css}">
    <link rel="stylesheet" th:href="@{Css/stylessindex.css}">
    <title>Document</title>
</head>
<body>     

        <div>
            <i><h1 class="h1">Sistema de gestión para empresas</h1></i>
        </div>

        <div class="logo">
            <h1 class="h2">Bienvenido al sistema de gestión de empresas</h1>
        </div>

        <div sec:authorize="!isAuthenticated()">
            <a class="boton" th:href="@{/oauth2/authorization/auth0}"> Inicio de sesión </a>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a class="boton" th:href="@{/inicio}"> Ingrese al sistema </a>
        </div>

</body>
</html>