<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/reset.css">
    <link rel="stylesheet" href="/Css/stylessindex.css">
    <title>Document</title>
</head>
<body>

    <header  class="contheader" id="contenca">
        <div class="logo">
            <nav class="menu">
                <ul>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Empleados</a></li>
                    <li><a href="#">Ingresos y Egresos</a></li>
                </ul>   
            </nav> 
        </div>
    </header>

    <main class="main">
        <section class="secuno">
            <div class="buscar"> 
                <nav class="menu2">
                    <ul>
                        <li class="navegar"><a class="letra" href="#">Sistema de gestión de empresas </a></li>
                        <li class="navegar"><a class="letra" href="#">Sistema de gestión de empleados</a></li>
                        <li class="navegar"><a class="letra" href="#">Sistema de gestión de ingresos y egresos</a></li>
                    </ul>   
                </nav> 
            </div>   
        </section>
    </main>
    
</body>
</html>