<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{Css/reset.css}">
    <link rel="stylesheet" th:href="@{Css/movimientos.css}">
    <title>Document</title>
</head>
<body>

    <header  class="contheader" id="contenca">
        <div class="logo">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{empresa}">Empresas</a></li>
                    <li><a th:href="@{empleado}">Empleados</a></li>
                    <li><a th:href="@{movimientos}">Ingresos y Egresos</a></li>
                </ul>   
            </nav> 
        </div>
    </header>
    
    <h1 class="ti1"><strong> Sistema de gestion de ingeresos y egresos</strong></h1>
    <h2 class="ti2"> <strong> Ingresos y Egresos</strong></h2>
            <table>
                <thead> 
                    <tr>
                        <th>ID transaccion</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>Doc empleado</th>
                        <th>Nit empresa</th>
                        <th>Fecha de registro</th>
                    </tr>
                    </thead>
                
                <tr th:each="i:${movimientos}">
                    <td th:text="${i.idTransaccion}"></td>
                    <td th:text="${i.coneptoTransaccion}"></td>
                    <td th:text="${i.montoTransaccion}"></td>
                    <td></td>
                    <td></td>
                    <td th:text="${i.fechaCreacionTransaccion}"></td>
                </tr>
            </table>

            <input class="boton" type="submit" value="Registrar">

</body>
</html>