<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/reset.css">
    <link rel="stylesheet" href="Css/movimientos.css">
    <title>Document</title>
</head>
<body>

    <header  class="contheader" id="contenca">
        <div class="logo">
            <nav class="menu">
                <ul>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Empleados</a></li>
                    <li><a href="#">Ingresos y Egresos</a></li>
                </ul>   
            </nav> 
        </div>
    </header>
    
    <h1 class="ti1"><strong> Sistema de gestion de ingeresos y egresos</strong></h1>
    <h2 class="ti2"> <strong> Ingresos y Egresos</strong></h2>
            <table>
                <thead> 
                    <tr>
                        <th>ID transaccion</th>
                        <th>Concepto</th>
                        <th>Monto</th>
                        <th>Doc empleado</th>
                        <th>Nit empresa</th>
                        <th>Fecha de registro</th>
                    </tr>
                    </thead>
                
                <tr>
                    <td>100</td>
                    <td>Pago Nomina</td>
                    <td>100000000</td>
                    <td>3107794519</td>
                    <td>3107794519</td>
                    <td>12-06-2022</td>
                </tr>
                <tr>
                    <td>200</td>
                    <td>Lucas</td>
                    <td>Bernal</td>
                    <td>3107794519</td>
                    <td>3107794519</td>
                    <td>123456</td>
                </tr>
            </table>

            <input class="boton" type="submit" value="Registrar">

</body>
</html>