<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Css/reset.css}">
    <link rel="stylesheet" th:href="@{/Css/regempresa.css}">
    <title>Document</title>
</head>
<body>

    <header  class="contheader" id="contenca">
        <div class="logo">
            <nav class="menu">
                <ul>
                    <li><a th:href="@{/empresa}">Empresas</a></li>
                    <li><a th:href="@{/empleado}">Empleados</a></li>
                    <li><a th:href="@{/movimientos}">Ingresos y Egresos</a></li>
                </ul>   
            </nav> 
        </div>
    </header>
    
    <h1 class="ti1"><strong> Sistema de gestion de empresas</strong></h1>
    <h2 class="ti2"> <strong> Empresas</strong></h2>

    <fieldset class="fi">
        <legend>Registrar Empresa</legend>
        <form class="frm" th:action="@{/empresa/guardar}" th:object="${empresainsertar}" method="POST" >

            <label for="doc">Nit empresa
                <input type="text" id="doc" required th:field="*{nitEmpresa}">
            </label>

            <label for="n">Nombre
                <input type="text" id="n" th:field="*{nombreEmpresa}">
            </label>

            <label for="a">Telefono
                <input type="text" id="a" th:field="*{telefonoEmpresa}">
            </label>

            <label for="e">Direccion
                <input type="text" id="e" th:field="*{direccionEmpresa}">
            </label>

            <label for="c">Fecha de registro
                <input type="date" id="c" th:field="*{fechaCreacion}">
            </label>

            <input class="boton" type="submit" value="Registrar">

        </form>
    </fieldset>
</body>
</html>