<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Css/reset.css">
    <link rel="stylesheet" href="Css/regmovimientos.css">
    <title>Document</title>
</head>
<body>

    <header  class="contheader" id="contenca">
        <div class="logo">
            <nav class="menu">
                <ul>
                    <li><a href="#">Empresas</a></li>
                    <li><a href="#">Empleados</a></li>
                    <li><a href="#">Ingresos y Egresos</a></li>
                </ul>   
            </nav> 
        </div>
    </header>
    
    <h1 class="ti1"><strong> Sistema de gestion de ingresos y egresos</strong></h1>
    <h2 class="ti2"> <strong> Ingresos y Egresos</strong></h2>

    <fieldset class="fi">
        <legend>Registrar Movimiento</legend>
        <form action=""method="" class="frm">

            <label for="doc">Concepto
                <input type="text" id="doc" required>
            </label>

            <label for="n">Monto
                <input type="text" id="n">
            </label>

            <label for="a">Doc empleado
                <input type="text" id="a">
            </label>

            <label for="e">Nit empresa
                <input type="text" id="e">
            </label>

            <label for="c">Fecha de registro
                <input type="date" id="c">
            </label>

            <input class="boton" type="submit" value="Registrar">

</body>
</html>